<!doctype html>
<title>Entry</title>
{{ collection.description | markdown }}
<form method="POST" action="/submit/{{ entry_serial }}">
    {# TODO Display collection model and parameters #}
    {{ form.session_token }}
    <span id='entry_serial'>{{ entry_serial }}</span>
    {% for i in range(attributes|count) %}
    {{ form['field_' ~ i].label }}
    {{ form['field_' ~ i] }}
    <br>
    {% endfor %}
    <input type="submit" value="Go">
</form>
<p>This form expires at {{ collection.response_end_time }}</p>